:root {
    --heading-font: 'Anton', sans-serif;
    --paragrah-font: 'Gabarito', sans-serif;
    --background-color: white;
}
label{
    display: block;
    padding: 10px 0 2px 0;
    font-size: .9rem;
    color: blue;
}

.stars {
    padding: 0 0 2px 0;
    display: flex;
}
.stars > label {
	color: gold;
	margin-left: 5px;
	align-items: center;
}

h1,footer{
    text-align: center;
    background-color: rgb(0 110 182 / 1);
    padding: 0.5rem;
    color: #fff;
}

form {
    margin: 0 auto;
    padding: 1rem;
    background: #f4f4f4;
    border-radius: 5px;
    font-family: var(--paragrah-font);
}

select, input[type="date"], input[type="text"], textarea{
    width: 100%;
    max-width: 400px;
    display: block;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

input[type="submit"] {
    width: 100%;
    max-width: 400px;
    background: #333;
    color: #fff;
    border: none;
    padding: 0.5rem;
    margin: 0 2% 2px 2%;
}
