@media screen and (min-width: 1000px) {
    .adventure{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        height: auto;
    }
    footer{
        display: grid;
        align-items: center;
        justify-items: center;
        font: var(--paragrah-font);
    }
    .hero img{
        width: 100%;
        height: auto;
    }
    .hero{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}